<div class="dashboard-container">
  <div class="page-header">
    <h1>Dashboard</h1>
    <div class="user-welcome" *ngIf="(currentUser$ | async) as user">
      <p>Welcome back, {{ user.firstName }}!</p>
      <div class="subscription-info" *ngIf="user.currentSubscription">
        <p class="plan-name">Your {{ user.currentSubscription.subscriptionPlanName }} plan expires in {{ user.currentSubscription.daysRemaining }} days</p>
      </div>
    </div>
  </div>

  <div class="dashboard-content" *ngIf="!loading; else loadingTemplate">
    <div class="quick-actions">
      <h2>Quick Actions</h2>
      <div class="actions-container">
        <button mat-raised-button color="primary" (click)="createNewPost()">
          <mat-icon>add</mat-icon>
          Create New Post
        </button>
        <button mat-raised-button color="accent" (click)="linkFacebookPage()">
          <mat-icon>link</mat-icon>
          {{hasFacebookPages ? 'Manage Facebook Pages' : 'Link Facebook Page'}}
        </button>
        <button mat-stroked-button (click)="viewAllTemplates()">
          <mat-icon>view_quilt</mat-icon>
          View Templates
        </button>
      </div>
    </div>

    <div class="content-inspiration">
      <h2><mat-icon>lightbulb_outline</mat-icon> Content Inspiration</h2>
      <p class="section-description">Get fresh ideas to spark your next engaging post!</p>
      <div class="inspiration-list">
        <mat-card *ngFor="let idea of contentIdeas; let i = index" class="idea-card">
          <mat-card-content>
            <p>{{ idea }}</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-icon-button matTooltip="Copy idea" (click)="copyIdeaToClipboard(idea)">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <p *ngIf="contentIdeas.length === 0">No ideas to display yet. Click 'Generate Ideas' to get started!</p>
      </div>
      <button mat-flat-button color="primary" (click)="generateContentIdeas()">
        <mat-icon>autorenew</mat-icon> Generate More Ideas
      </button>
      <button mat-button (click)="viewInspirationHub()" class="view-hub-button">
        <mat-icon>arrow_forward</mat-icon> View Inspiration Hub
      </button>
    </div>
    </div>

  <ng-template #loadingTemplate>
    <div class="loading-container">
      <mat-spinner></mat-spinner>
      <p>Loading your dashboard...</p>
    </div>
  </ng-template>
</div>
