<div class="app-container">
  <app-navbar (toggleSidenavEvent)="toggleSidenav()"></app-navbar>

  <mat-sidenav-container>
    <mat-sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="showSidenav && opened"
      [fixedInViewport]="mobileQuery.matches"
      [fixedTopGap]="mobileQuery.matches ? 56 : 64">
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
