<mat-card class="template-card">
  <div class="template-preview">
    <!-- Use an iframe for perfect rendering of the template -->
    <div class="iframe-container">
      <iframe #previewFrame frameborder="0" class="template-iframe"></iframe>
    </div>
    <div class="template-badge" [ngClass]="getPlanBadgeClass()">{{ getPlanName() }}</div>
  </div>

  <mat-card-content>
    <h3 class="template-name">{{ template.name }}</h3>
    <p class="template-description">{{ template.description }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button
      [color]="canUse ? 'primary' : 'warn'"
      (click)="onUseTemplate()">
      {{ canUse ? 'USE TEMPLATE' : 'UPGRADE TO USE THIS TEMPLATE' }}
    </button>
  </mat-card-actions>
</mat-card>
